/* Header */

.top_verde{
    background: #42603a;
    width: 100%;
    height: 89px;
}

.fixed{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.fixed_dawn{
   padding-top: 169px;
}

.top_branco{
    background: #ffffff;
    width: 100%;
    height: 80px;
}

.logotipo{
    margin-top: 40px;
    margin-left: 195px;
}

.img_header{
    background-image: url(../imagens/imagem_header.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 379px;
}

.text{
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:white;
    padding-top: 170px;
    text-shadow: 3px 3px 4px black;
}

.menu ul {
    float: right;
    margin-top: 30px;
}

.menu ul li {
    display: inline-block;
}

.menu_text a{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color:#361b16;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    transition-timing-function:ease-in-out;
    transition: all 0.3s linear;
}


.menu_text a:hover{
    color:#f0935e;
}

.linha_menu{
    content:"";
    background: #f0935e;
    width: 5px;
    height: 18px;
    display: inline-block;
    margin-left: 20px;
}

.linha_menu_branco{
    content:"";
    background: #fff;
    width: 5px;
    height: 18px;
    display: inline-block;
    margin-left: 20px;
}




/* section_especialistas */

.cards{
    float: left;
    padding: 5px;
}

.cards_titulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #361b16;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.cards img{
    border-bottom: 20px solid #42603a;
    transition-timing-function:ease-in-out;
    transition: all 0.3s linear;
}

.cards img:hover{
    filter:brightness(1.3)
}

.section_especialistas{
    margin-top:70px;
}

.section_especialistas h2{
    font-size: 22px;
    color:#361b16;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.section_especialistas_titulo:after {
    content:" ";
    background: #42603a;
    width: 550px;
    height: 3px;
    display:block;
    margin-left: 200px;
    margin-top: 5px;
}

.section_especialistas_titulo:before {
    content:" ";
    background: #42603a;
    width: 550px;
    height: 3px;
    display:block;
    margin-left: 200px;
    margin-bottom: 5px;
}

.bnt{
    display:inline-flex;
    margin-left: 39%;
    font-size: 17px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #361b16;
    padding: 10px 15px;
    margin-top: 20px;
    transition-timing-function:ease-in-out;
    transition: all 0.1s linear;
    border-radius: 5px;
    margin-top: 50px;
   
}

.bnt:hover{
    background:#42603a;

}




/* section_temos */

.section_temos{
    margin-top:70px;
}

.section_temos h2{
    font-size: 22px;
    color:#361b16;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.section_temos_titulo:after {
    content:" ";
    background: #42603a;
    width: 360px;
    height: 3px;
    display:block;
    margin-left: 297px;
    margin-top: 5px;
}

.section_temos_titulo:before {
    content:" ";
    background: #42603a;
    width: 360px;
    height: 3px;
    display:block;
    margin-left: 297px;
    margin-bottom: 5px;
}

 .temos_text{
     text-align: justify;
     line-height: 1.5;
     width: 400px;
     height: 320px;
     float: right;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
     padding-left: 50px;
 }

 

 /* section_nos_chame */

.section_nos_chame{
    margin-top:70px;
}

.section_nos_chame h2{
    font-size: 22px;
    color:#361b16;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.section_nos_chame_titulo:after {
    content:" ";
    background: #42603a;
    width: 460px;
    height: 3px;
    display:block;
    margin-left: 250px;
    margin-top: 5px;
}

.section_nos_chame_titulo:before {
    content:" ";
    background: #42603a;
    width: 460px;
    height: 3px;
    display:block;
    margin-left: 250px;
    margin-bottom: 5px;
}

 .nos_chame_text{
     text-align: justify;
     line-height: 1.5;
     width: 400px;
     height: 320px;
     float: left;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
     padding-right: 50px;
 }


 /* footer */

 .img_footer{
     background-image: url(../imagens/FOOTER.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: left;
     width: 100%;
     height: 379px;
     margin-top: 60px;
 }

 .footer_verde{
    background: #42603a;
    width: 100%;
    height: 60px;
}

.by{
    padding-top: 10px;
    font-size: 12px;
    text-align: center;

}

.by p{
    padding-bottom: 5px;
    font-weight:bold;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}


