*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.container {
	width: 950px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24, .grid-25, .grid-1-3 {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.grid-1 	{width: 36px;}
.grid-2 	{width: 72px;}
.grid-3 	{width: 108px;}
.grid-4 	{width: 144px;}
.grid-5 	{width: 180px;}
.grid-6 	{width: 216px;}
.grid-7 	{width: 252px;}
.grid-8 	{width: 288px;}
.grid-9 	{width: 324px;}
.grid-10 	{width: 360px;}
.grid-11 	{width: 396px;}
.grid-12 	{width: 432px;}
.grid-13 	{width: 468px;}
.grid-14 	{width: 504px;}
.grid-15 	{width: 540px;}
.grid-16 	{width: 576px;}
.grid-17 	{width: 612px;}
.grid-18 	{width: 648px;}
.grid-19 	{width: 684px;}
.grid-20 	{width: 720px;}
.grid-21 	{width: 756px;}
.grid-22 	{width: 792px;}
.grid-23 	{width: 828px;}
.grid-24 	{width: 864px;}
.grid-25 	{width: 900px;}
.grid-1-3	{width: 300px;}